
extends layout

mixin link(str)
	a(href='#'+locals.slug(str).toLowerCase())!=str

mixin step(step)
	li.row
		span.key.col-xs-2= step.keyword
		span.stepname!= step.name
		if step.table.length > 0
			table.datatable
				each row in step.table
					tr
						each item in row
							td!= item
		if step.docString
			div.docstring!= step.docString.string

mixin tags(tags)
	if tags
		.tags
			each tag in tags
				span.tag.badge!= tag
				br

block title
	!= 'Feature: ' + name

block content
	.page-header
		h1!= name
	+tags(tags)
	.page-scenario!= description
	h4 Scenarios
	ul.nav-scenarios.page-scenario
		each scenario in scenarios
			li.scenario-link
				+link(scenario.name)
	if background
		.page-header.feature-header
			.page-scenario
				if background.name
					h4!= background.name
				else
					h4 Background
		+tags(background.tags)
		.page-scenario
			ol.scenario-steps
				each step in background.steps
					+step(step)
	each scenario in scenarios
		.page-header.feature-header
			h4(id=locals.slug(scenario.name).toLowerCase())!=scenario.name
		+tags(scenario.tags)
		ol.scenario-steps.page-scenario
			each step in scenario.steps
				+step(step)
		if scenario.outline
			each example in scenario.examples
				h3!= example.keyword
				table.example
					each row in example.table
						tr
							each item in row
								td!= item
